<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Profile picture url:</strong>
  <%= @user.profile_picture_url %>
</p>


<strong>Skills</strong>
</br >

<% @user.experiences.each do |experience| %>
	<strong><%= experience.skill.name %></strong></br >
	Description: <%= experience.description %></br >
	Level: <%= experience.level %></br >
</br>
<% end %>

</br >
<%= link_to 'Add skills', new_user_experience_path(current_user) %> |

<%= link_to 'Edit', edit_user_path(@user) %>
