<% @title="Home" %>

<div class="jumbotron" style="background-color: #81E89C">
	<div class="container">
		<div class="col-md-7">
				<%= image_tag "zapskills_welcome.png"%>
			</div>
		<div class="col-md-5">
		<h2>Welcome to ZapSkills</h2>
		<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. 
		Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, 
		porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
		Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. 
		Nullam id dolor id nibh ultricies vehicula ut id elit. </p>
		</div>
	  	<div class="clearfix"></div>
	</div>
</div>

<div class="jumbotron" style="background-color: #FFFB61">
	<div class="container">
		<div class="col-md-6 col-md-offset-1">
			<br></br>
			<h2>What is ZapSkills?</h2>
			<p>
				No matter who you are learning a new skill is hard, but having a tutor can make it easier.
				That brings you <b>ZapSkills</b>, a place where you can use the knowledge you have, to trade with
				someone for the knowledge you want, without the need for currency. Search our database of tutors 
				and become a tutor yourself! 
			 </p>
		</div>
		<div class="col-md-4">
			<%= image_tag "Zapskills_tesla_stick.png"%>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="jumbotron" style="background-color: #82CFFF">
	<div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
					<%= image_tag "zapskills_circle_logo_yellow.png", class: "img-circle"%>
          <h2>Create an Account</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
			<%= image_tag "zapskills_book.png", class: "img-circle"%>
          <h2>List Skills</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
					<%= image_tag "zapskills_trade.png", class: "img-circle"%>
          <h2>Trade</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
 	</div>		
</div>