<% @title="Search"%>

<div class="containter-fluid form-margins">
	<div class="col-md-4"></div>

	<div class="col-md-4">

		<h1>Search</h1><br \>
		<%= form_tag({controller: 'welcome', action: 'results'}, method: 'get', class: "navbar-form") do %>

			<%= label_tag :skill %><br \>
			<%= select_tag :skill_id, options_from_collection_for_select(@skills, :id, :name), include_blank: "All Skills" %>
			<div class="clearfix"></div>
			<br \>
			
			<div class="form-group">
				<%= check_box_tag :around_me, 1, true %>
				<%= label_tag(:around_me, "Around me") %>
			</div>
			<div class="clearfix"></div>
			<br \>

			<div id="optional-fields" style="display: none">
				<div class="form-group">
			    <%= label_tag :state %><br \>
					<%= select_tag :state, options_for_select(us_states, "WI") %>
				</div>
				<div class="clearfix"></div>
				<br \>
			
			<div class="form-group">
		    <%= label_tag :city %><br \>
		    <%= text_field_tag :city, "Madison", class: "form-control", required: true, placeholder: "Madison" %>
			</div>
			<div class="clearfix"></div>
			<br \>
			</div>

			<div class="form-group">
			  <%= label_tag :radius %> (miles)<br \>
			  <%= text_field_tag :radius, 10, class: "form-control", required: true, placeholder: "10" %>
			</div>
			<div class="clearfix"></div>
			<br \>
			
			<div class="actions">
			  <%= submit_tag "Search", class: "btn btn-info"%>
			</div>


		<% end %>
	</div>

	<div class="col-md-4"></div>
</div>

<script>
	if ($("#around_me").prop('checked') === true) {
	  $('#optional-fields').hide();      
	} else {
	  $('#optional-fields').show();
	}
	
	$("#around_me").click(function () {
		if ($(this).prop('checked') === true) {
	    $('#optional-fields').hide();      
		} else {
	    $('#optional-fields').show();
		}
	});
</script>
