<% @title="Search"%>

<%= form_tag({controller: 'welcome', action: 'results'}, method: 'get', class: "navbar-form") do %>

	<div class="row">
		<div class="col-md-5 col-md-offset-4">
	    <%= label_tag :skill %><br>
			<%= select_tag :skill_id, options_from_collection_for_select(@skills, :id, :name), include_blank: "All Skills" %>
			<div class="form-group">
				<%= check_box_tag :around_me, 1, true %>
				<%= label_tag(:around_me, "Around me") %>
			</div>
		</div>
	</div><br \>
	
	<div id="optional-fields" style="display: none">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">
				<div class="form-group">
			    <%= label_tag :state %><br>
			    <!-- <%= text_field_tag :state, nil, class: "form-control" %> -->
					<%= select_tag :state, options_for_select(us_states) %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-4">
				<div class="form-group">
			    <%= label_tag :city %><br>
			    <%= text_field_tag :city, nil, class: "form-control", required: true %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-5 col-md-offset-4">
			<div class="form-group">
		    <%= label_tag :radius %> (miles)<br>
		    <%= text_field_tag :radius, nil, class: "form-control", required: true %>
			</div>
		</div>
	</div><br />
	
	<div class="row">
		<div class="col-md-5 col-md-offset-4">
		  <div class="actions">
		    <%= submit_tag "Search", class: "btn btn-info"%>
		  </div>
		</div>
	</div>

<% end %>

<script>
	if ($("#around_me").prop('checked') === true) {
	  $('#optional-fields').hide();      
	} else {
	  $('#optional-fields').show();
	}
	
	$("#around_me").click(function () {
		if ($(this).prop('checked') === true) {
	    $('#optional-fields').hide();      
		} else {
	    $('#optional-fields').show();
		}
	});
</script>
