<% @title="Login"%>
<div class="jumbotron" style="background-color: #82CFFF">
	<div class="container marketing">
      <!-- Three columns of text below the carousel -->   
		<div class="row">
			<div class="col-md-10 col-md-offset-1">

				<h1> Welcome Back! </h1>
			</div>
		</div>
		<!-- Start of the sign up page content -->
		<div class="row">
			<div class="col-md-1"></div>
			<!-- Start of sign up text boxes and submit button -->
			<div class="col-md-5">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <div class="field">
				    <%= f.label :email%><br />
				    <%= f.email_field :email, autofocus: true, class: "form-control"%>
				  </div>

				  <div class="field">
				    <%= f.label :password %><br />
				    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
				  </div>

				  <% if devise_mapping.rememberable? -%>
				    <div class="field">
				      <%= f.check_box :remember_me %>
				      <%= f.label :remember_me %>
				    </div>
				  <% end -%>

				  <div class="actions">
				    <%= f.submit "Log in" %>
				  </div>
				<% end %>
				<!-- <form>
					<h2>Login with email</h2>
					<label for="inputEmail" class="sr-only">Email address</label>
					<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
					<div class="checkbox">
						<div class="col-md-8">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
						</div>
						<div class="col-md-4">
							<p style="font-size:1.0em"><a href="#">Forgot password?</a></p>
						</div>
					</div>
					<br></br>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				</form> -->
			</div>
			<!-- End of sign up text boxes and submit button -->
			<!-- Facebook button -->
			<div class="col-md-5">
				<h2 class="form-signin-heading"> Or login with Facebook</h2>
				<button class="btn btn-facebook"><i class="fa fa-facebook"></i> Login with Facebook</button>
				
			</div>
			<!-- End facebook button -->
			<div class="col-md-1"></div>
		</div> <!-- /container -->
		<br></br>
	</div>
</div>
<div id="push"></div>